<ul class="collection with-header">
    <li class="collection-header">Posts</li>
    <li (click)="gotoProductDetails(post.id)" class="collection-item highlight" *ngFor="let post of posts">
      {{post.id}} {{post.body}} 
      <span *ngIf="flag && post.id==this.id; then dis else nodis"></span>  
    </li>
</ul>
<ng-template #dis style="color:blueviolet">
    <app-comment-list [id]="this.id"></app-comment-list>
</ng-template>
<ng-template #nodis style="color:blueviolet">
    No dis
</ng-template>
